ul {
  list-style-type: none; //removes bullets
  margin: 0; //remove browser default settings
  padding: 0; //remove browser default settings
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

a:hover{
  text-decoration: underline; //hover will underline links
}

.navbar{
  color: #333;
}


.google-container-center {
  width: 300px;
	height: 300px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  //background: blue;

	margin: auto;
}

#artiststhumbnail{
    display:block;
    margin:auto;
}

input[type="text"]{
  position:relative;
  display:block;
  margin: 0 auto; //centers the search box within the div container

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F2F2F2;
  color: white;
  text-align: center;
}
