.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.topleft {
  position: relative;
  bottom: 5px;
  right: 20px;
}

.topright {
  position: relative;
  bottom: 5px;
  right: 100px;
}

.grid {
  width: 25px;
  height: 25px;
  background: url('google-grid.png') no-repeat;
  display: inline-block;
}

.grid:hover {
  background: url('google-grid-hover.png') no-repeat;
}


.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F2F2F2;
  color: white;
  border-top-color: #ebe8e8;
  border-top-style: solid;
  border-top-width: 0.1px;
}

.bottomleft{
  position: relative;
  bottom: 6px;
  right: 20px;
}

.bottomright{
  position: relative;
  bottom: 6px;
  right: 20px;
}

ul {
  list-style-type: none; //removes bullets
  margin: 0; //remove browser default settings
  padding: 0; //remove browser default settings
}

li {
  float: left;
}

a {
  display: block;
  padding: 6px;
  padding-left: 8px;
  padding-right: 10px;
  text-decoration: none;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

a:hover{
  text-decoration: underline; //hover will underline links
}

.navbar{
  color: #333;
}


.google-container{
  width: 500px;
	height: 300px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#artiststhumbnail{
    display:block;
    margin:0 auto;
    margin-bottom: 15px;
}

input[type="text"]{
  position:relative;
  display:block;
  border-radius: 50px;
  margin: 0 auto;
  border: 0.5px solid #F2F2F2;
  padding: 15px 300px 15px 40px;
  box-shadow: 0.1px 0.1px 1.5px #777;

  //the above centers the search box within the div container


}



button[type="button"]{
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 25px 10px 25px;
  font-family:'Roboto', sans-serif;
  font-size: 13px;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color:#777; //font color
}

#google-search-button{
  margin-left: 112px;
}
